name: CI

on: [push, pull_request]

jobs:
  lua:
    strategy:
      fail-fast: false
      matrix:
        os: [linux, macos-arm64]
        lua: [lua=5.2, lua=5.3, lua=5.4, luajit=2.0, luajit=2.1]
        include:
          - os: linux
            runner: ubuntu-latest
          - os: macos-arm64
            runner: macos-latest
        exclude:
          - os: macos-arm64
            lua: luajit=2.0
    name: ${{ matrix.os }} (${{ matrix.lua }})
    runs-on: ${{ matrix.runner }}
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: version exporter
        id: version
        run: |
          echo "lua_version=${${{ matrix.lua }}}" >> $GITHUB_OUTPUT

      - name: Install libreadline
        if: runner.os == 'Linux'
        run: |
          echo "/root/.local/bin" >> $GITHUB_PATH
          sudo apt-get install -y libreadline-dev libpcre2-dev
      - name: Install Lua (${{ matrix.lua }})
        run: |
          pipx install git+https://github.com/luarocks/hererocks
          hererocks lua_install -r^ --${{ matrix.lua }}
        env:
          MACOSX_DEPLOYMENT_TARGET: 11.0
      - name: Build lua-blaze
        run: source lua_install/bin/activate
          luarocks make
        env:
          LUA_LIBDIR: lua_install/lib
          LUA_DIR: lua_install
      - name: Run tests
        run: |
          source lua_install/bin/activate
          luarocks --lua-version=${{ steps.version.outputs.lua_version }} install busted
          luarocks --lua-version=${{ steps.version.outputs.lua_version }} install dkjson
          luarocks --lua-version=${{ steps.version.outputs.lua_version }} install lrexlib-pcre2
          busted --verbose
        env:
          LUA_LIBDIR: lua_install/lib
          LUA_DIR: lua_install
